<div class="center" style="background-color: darkkhaki;">

    <h1 style="text-align: center; font-size:xxx-large ">NAMES GREETED </h1>
    <div style="text-align: center;"> 
        
        {{#each names}}
        <a href="/counter/{{this.greeted_names}}">
            <h1 style="color:black ;">{{this.greeted_names}}</h1>
        </a>
        {{/each}}
    </div>
</div>