<div class="center" style="background-color: darkkhaki;">

    <h1 style="text-align: center;">Names Greeted </h1>
    <div style="text-align: center;"> 
        
        {{#each names}}
        <a href="/counter/{{this.greeted_names}}">
            <p>{{this.greeted_names}}</p>
        </a>
        {{/each}}
    </div>
</div>